@using SWEN2TourPlanner.Frontend.ViewModels.Interfaces
@using SWEN2TourPlanner.Models
@inject ICurrentTourViewModel ViewModel

<EditForm Model="ViewModel.CurrentTour"
          FormName="CurrentTourForm"
          OnValidSubmit="HandleValidSubmit"
          class="float tour-container">
    <div class="external-form-element" style="grid-area: img;">
        <img src="@ViewModel.CurrentTour.ImgPath" alt="descriptive image of the tour" />
    </div>
    <div class="form-element" style="grid-area: name;">
        <InputText type="text" name="tourname" id="tourname" @bind-Value="ViewModel.CurrentTour.Name" />
        <label for="tourname">Name of the Tour</label>
    </div>
    <div class="form-element" style="grid-area: description;">
        <InputText type="text" name="tourdescription" id="tourdescription" @bind-Value="ViewModel.CurrentTour.Description" />
        <label for="tourdescription">Short Description of the Tour</label>
    </div>
    <div class="form-element" style="grid-area: from;">
        <InputText type="text" name="tourfrom" id="tourfrom" @bind-Value="ViewModel.CurrentTour.From" />
        <label for="tourfrom">From</label>
    </div>
    <div class="form-element" style="grid-area: to;">
        <InputText type="text" name="tourto" id="tourto" @bind-Value="ViewModel.CurrentTour.To" />
        <label for="tourto">To</label>
    </div>
    <div class="form-element" style="grid-area: type;">
        <InputSelect name="tourtype" id="tourtype" @bind-Value="ViewModel.CurrentTour.TransportType">
            @foreach (var type in Enum.GetValues<TransportType>())
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
        <label for="tourtype">Type of Transportation</label>
    </div>
    <div class="computed-form-element" style="grid-area: distance;">
        <p>@ViewModel.CurrentTour.Distance km</p>
    </div>
    <div class="computed-form-element" style="grid-area: time;">
        <p>@ViewModel.CurrentTour.EstimatedTime.ToString("HH:mm")</p>
    </div>
    <div class="button-form-element" style="grid-area: submit;">
        @if (Id is null)
        {
            <button type="submit">Create</button>
        }
        else if (Id is { } id)
        {
            <button type="submit">Update</button>
            <button type="button" @onclick="() => ViewModel.Delete(id)">Delete</button>
        }
    </div>
    <div class="external-form-element" style="grid-area: logs;">
        <!-- TODO: Add List of Tour Logs -->
    </div>
</EditForm>

@code {
    [Parameter] public int? Id { get; set; }
    
    protected override void OnParametersSet() {
        if (Id is null) {
            // TODO: Create new Tour
        } else if (Id is { } id) {
            ViewModel.LoadTourById(id);
        }
    }
    
    private void HandleValidSubmit() {
        if (Id is { } id)
        {
            ViewModel.CurrentTour.Id = id;
        }

        ViewModel.SaveCommand.Execute(null);
    }
}
